.button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px 46px;
  cursor: pointer;
}

.icon {
  margin-right: 6px;
  font-size: 16px;
  width: 13.211px;
  height: 13.944px;
  flex-shrink: 0;
}

.text {
  color: #052a76;
  font-size: 16px;
  font-weight: bold;
}
