.button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 4px 46px;
    cursor: pointer;
}

.icon {
    margin-right: 8px;
    font-size: 16px;
}

.text {
    color: #052A76;
    font-size: 16px;
    font-weight: bold;
}

.backgroundColor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}
